


<footer id="main-footer" class="bg-inverse mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 my-4 text-center">
        <h2 class="">Liens utiles</h2>
        <a href="" class="badge badge-light ">Plan de site</a><br>
        <a href="" class="badge badge-light ">Espace Privé</a>
      </div>
      <div class="col-md-6  col-sm-6 text-center">
        <div class="my-4">
          <h1 class="h3">CabiNET</h1>
          <p>Copyright &copy; 2018</p>
          <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#contactModal">Contact </button>
        </div>
      </div>
      <div class="col-md-3 col-sm-3  my-4 text-center">
       <h2 class="">Nous Suivre</h2>
       <div class="display-inline  ">
         <a href="#" class="mx-2 text-primary"> <span class="fa fa-facebook"></span> </a>
         <a href="#" class="mx-2 text-info"> <span class="fa fa-twitter"></span> </a>
         <a href="#" class="mx-2 text-danger"> <span class="fa fa-google-plus"></span> </a>
         <a href="#"class="mx-2 text-warning"> <span class="fa fa-linkedin"></span> </a>
         <a href="#"class="mx-2 text-danger"> <span class="fa fa-youtube"></span> </a>

       </div>
      </div>
    </div>
  </div>
</footer>



</body>
</html>
