<% include ./partials/header %>
<!--SHOWCASE SLIDER-->
<section id ="showcase" class="">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active" data-target="#myCarousel" data-slide-to ="0" > </li>
    <li data-target="#myCarousel" data-slide-to ="1" > </li>
    <li data-target="#myCarousel" data-slide-to ="2" > </li>
  </ol>
 <div class="carousel-inner">
   <div class="carousel-item carousel-image-1 active " >
     <div class="container">
     <div class="carousel-caption d-none d-sm-block text-right mb-5">
       <h1 class="display-3"> Heading One</h1>
       <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
       <a href="#" class="btn btn-primary btn-lg">Learn More</a>
     </div>
     </div>

   </div>
   <div class="carousel-item carousel-image-2">
     <div class="container">
     <div class="carousel-caption d-none d-sm-block  mb-5">
       <h1 class="display-3"> Heading Theree</h1>
       <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
       <a href="#" class="btn btn-success btn-lg"> Learn More</a>
     </div>
     </div>
   </div>

   <div class="carousel-item carousel-image-3">
     <div class="container">
     <div class="carousel-caption d-none d-sm-block text-right mb-5">
       <h1 class="display-3"> Heading One</h1>
       <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
       <a href="#" class="btn btn-danger btn-lg"> Sing Up Now</a>
     </div>
     </div>
   </div>

 </div>
 <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
   <span class="carousel-control-prev-icon"></span>
 </a>
 <a href="#myCarousel" data-slide="next" class="carousel-control-next">
   <span class="carousel-control-next-icon"></span>
 </a>
</div>
</section>

<hr class="border1 ">
<!-- SERVISES-->

<section id="servise" class="mb-5" >
 <div class="container">
   <div class=" row ">
     <div class="col-sm-12 my-5 text-center" id="ahover">
       <a class="" href="#">Nos Services</a>
        <hr class="style-four">
     </div>
   </div>
<div class="row">
  <div class="col-md-4 col-sm-12 col-lg-4">
    <div class="card">
      <img class="card-img-top" src="https://farm3.staticflickr.com/2154/2493026495_bc84aa867f.jpg">
      <div class="card-body ml-1">
        <a class=" my-3 card-title " href="#">Endodontie</a>
        <p class="card-text">L’endodontie est une spécialité de la dentisterie qui consiste à traiter (dévitaliser) la ou les racines d’une dent lorsque celle ci est infectée (abcès dentaire) ou s'il y eu par exemple échec d'un (...)</p>
        <a href="#" class="btn btn-outline-success btn-sm "> Lire La Suite</a>
      </div>

    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <div class="card">
      <img class="card-img-top" src="https://farm3.staticflickr.com/2154/2493026495_bc84aa867f.jpg">
      <div class="card-body  ml-1">
        <a class="card-title my-3" href="#" >Parodontologie</a>
        <p class="card-text">Le Parodonte est l’ensemble des tissus de soutient de la dent : la gencive, l’os alvéolaire, le ligament alvéolo-dentaire. le parodonte peut être atteint par plusieurs affections (gingivite, (...)</p>
        <a href="#" class="btn btn-outline-success btn-sm "> Lire La Suite</a>
      </div>

    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <div class="card">
      <img class="card-img-top " src="https://farm3.staticflickr.com/2154/2493026495_bc84aa867f.jpg">
      <div class="card-body ml-1">
        <a class="card-title my-3" href="#"  >Blanchiment dentaire</a>
        <p class="card-text">Le Blanchiment ou Éclaircissement dentaire est une méthode utilisée pour faire changer de couleur aux dents en les rendant plus claires ou plus blanches les causes de la coloration des dents sont (...)</p>
        <a href="#" class="btn btn-outline-success btn-sm "> Lire La Suite</a>
      </div>

    </div>
  </div>

</div>
 </div>
</section>

<!-- EQUIPE-->

<section id="equipe">
<div class="container">
  <div class="row ">
    <div class="col-sm-12 col-md-12">
      <h1 class="text-center my-5">Notre équipe (2)</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
     <div class="card">
       <div class="hovereffect">
       <img class="img-responsive" src="img/doctor1.jpeg" alt="">
           <div class="overlay">
               <h2 class="">DR.SABRINA JEAN </h2>
               <h3 >Cardiologist</h3>
       <p>
         <a href="#">LINK HERE</a>
       </p>
           </div>
   </div>

     </div>
    </div>
    <div class="col-md-6  col-sm-12">
     <div class="card">
       <div class="hovereffect">
       <img class="img-responsive" src="img/doctor2.jpeg" alt="">
           <div class="overlay">
               <h2> DR. ALEX FURGOSEN </h2>
               <h3>Dentiste</h3>
       <p>
         <a href="#">LINK HERE</a>
       </p>
           </div>
   </div>
     </div>
    </div>
  </div>
</div>
</div>
</section>


<!-- ABOUTE CLINIC -->

<section id="about">
  <div class="container">
   <div class="row">
     <div class="col-md-12 col-sm-12- text-center my-5">
      <h5 class="mb-3 text-muted">PROFESSIONAL HEALTH CARE</h5>
      <h2>À propos de la clinique</h2>
     </div>
   </div>
   <div class="row">
     <div class="col-md-6 col-xs-12 mt-5">
        <h3>Des Annes D'exprience</h3>
        <p class="mb-5 mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <lu>
         <li>Clamco laboris nisiut aliq commod aonsequat</li>
         <li>Duis aute irure dolor in reprehenderit</li>
         <li>Sed in voluptate velit esse ipsum cillum</li>
         <li>Eiusmod tempor incididunt ut labore et dolore magna</li>

        </lu>
     </div>

     <div class="col-md-6 col-sm-12" id="imgFloat">
      <img class="img-responsive ml-3" src="img/doctor3.png" alt="">
     </div>

   </div>
  </div>

</section>
<% include ./partials/footer %>
