<% include ./partials/header %>
<section>
  <div class="row " id="home-servise">
    <div class="col-md-12 text-center mt-5">
      <h1 class="text-center"><%= servise.title %></h1>
      <p class="lead text-center"> home/servise</p>
    </div>
</div>

<!--servise-->
<div class="container  mt-3" >
  <div class="row  ">

    <div class=" col-md-8 ">
      <a class=" my-3" href="#"><%= servise.title %></a>
      <p class="muted"><%= servise.body %></p>
    </div>
    <div class="col-md-4  m-auto " id="servise1">
        <img class="" src="<%= servise.image %>">
    </div>


      </div>
    </div>






</div>

</section>
